.header {
  overflow: hidden;
  background-color: rgba(3, 148, 171, 1);
  height: 40px;
}

.logo-link {
  height: 30px;
  margin: 5px;
}

.dropdown {
  float: right;
  display: inline-block;
}

.dropdown:hover .dropdown_content {
  display:block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(3, 148, 171, 1);
}

.dropdown_content {
  background-color: rgba(3, 148, 171, 1);
  display: none;
  position: absolute;
  width: 300px;
  z-index: 10;
  right: 0px;
}

.dropdown_content div {
  padding: 0px 10px 0px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown_content div:hover {
  background-color: rgba(3, 148, 185, 1);
  cursor: pointer;
}

.border-top {
  border-top: 1px solid black;
}

.dropdown_content div .fa{
  margin-right: 10px;
}

.dropbtn {
  height: 40px;
  background: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn .fa {
  margin-left: 10px;
}
