.header {
  overflow: hidden;
  background-color: #222;
  height: 50px;
  color: white;
}

.logo-link {
  height: 40px;
  margin: 5px;
}

.dropdown {
  float: right;
  display: inline-block;
}

.dropdown:hover .dropdown_content {
  display:block;
}

.dropdown:hover .dropbtn {
  background-color: #222;
}

.dropdown_content {
  background-color: #222;
  display: none;
  position: absolute;
  width: 315px;
  z-index: 10;
  right: 0px;
}

.dropdown_content div {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown_content div:hover {
  background-color: #5b5b5b;
  cursor: pointer;
}

.border-top {
  border-top: 1px solid black;
}

.dropdown_content div .fa{
  margin-right: 10px;
}

.dropbtn {
  height: 50px;
  background: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
}

.dropbtn .fa {
  margin-left: 10px;
}
