<div class="header">
  <img class="logo_link" alt="LOGO" routerLink="/accueil">
  <div class="dropdown">
    <button class="dropbtn">{{userName}}<i class="fa fa-sort-desc" aria-hidden="true"></i></button>
    <div class="dropdown_content border-top">
      <div routerLink="aide">
        <i class="fa fa-question" aria-hidden="true"></i>
        <p>Aide</p>
      </div>
      <div>
        <i class="fa fa-certificate" aria-hidden="true"></i>
        <p>Politique de confidentialité ( RGPD )</p>
      </div>
      <div (click)="logout()" class="border-top">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <p>Se déconnecter</p>
      </div>
    </div>
  </div>
</div>
