<div id="updateform" *ngIf="certificat">
  <form #updateForm="ngForm" (ngSubmit)="updateOnSubmit(updateForm.value)">
    <p>Not before :</p>
    <p>{{certificat.notBefore}}</p>
    <p>Not after :</p>
    <p>{{certificat.notAfter}}</p>
    <p>Mails :</p>
    <div *ngFor="let mail of certificat.mails; let i = index">
      <p>{{certificat.mails[i].adresse}}</p>
    </div>
    <p>additionnal Mails :</p>
    <div *ngFor="let additionnalMail of certificat.additionnalMails; let j = index">
      <p>{{certificat.additionnalMails[j].adresse}}</p>
    </div>
    <p>Ajouter une adresse :</p>
    <form #addMailForm="ngForm" (ngSubmit)="addMailOnSubmit(addMailForm)">
      <input type="email" name="addMailInput" placeholder="exemple@exemple.com" ngModel [email]="true"/>
      <button type="submit">Ajouter</button>
    </form>
    <button type="submit">Modifier</button>
  </form>
</div>
