<div *ngIf="certificat" class="wrapper">
  <div class="contact-header">
    <div class="contact-header-title-wraper">
      <div class="contact-title">
        <p class="title bold">Gestion des contacts et notifications</p>
      </div>
    </div>
    <p class="bleu-ciel subtitle">"{{getInformations(certificat).cn}}" arrivant à expiration le {{getDate(certificat.notAfter)}}</p>
  </div>

  <div class="contact-components">
    <div class="contact-left">
      <div class="info-container-row">
        <div class="text-icon contact-adresses">
          <p>Notifications pour tous</p>
          <i (click)="changeNotifiableAll()" *ngIf="certificat.notifyAll == true" class="fa fa-toggle-off pointer" aria-hidden="true"></i>
          <i (click)="changeNotifiableAll()" *ngIf="certificat.notifyAll == false" class="fa fa-toggle-on pointer" aria-hidden="true"></i>
        </div>
      </div>
      <table class="contact-list">
        <thead>
          <tr class="contact-list-top">
            <th>Adresse mail</th>
            <th>Notification</th>
            <th class="trash-list-contact"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="contact-list-content" *ngFor="let mail of certificat.additionnalMails; let i = index">
            <td>{{mail.adresse}}</td>
            <td *ngIf="mail.notifiable == true">
              <i (click)="changeNotifiable(i)" class="toggle fa fa-toggle-on pointer" aria-hidden="false"></i>
            </td>
            <td *ngIf="mail.notifiable == false">
              <i (click)="changeNotifiable(i)" class="toggle fa fa-toggle-off pointer" aria-hidden="true"></i>
            </td>
            <td (click)="deleteContact(i)" class="trash-list-contact pointer"><i class="fa fa-trash" aria-hidden="true"></i></td>
          </tr>
          <p *ngIf="certificat.additionnalMails.length == 0">Pas d'adresses additionnelles</p>
        </tbody>
      </table>
    </div>
    <div class="contact-right">
      <div class="icon-text title">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>Ajout d'un contact</p>
      </div>
      <form [class.has-error]="contactEmail.invalid && contactEmail.touched" class="contactForm" (ngSubmit)="addContact(formContact)" #formContact="ngForm">
        <div class="errorFormGroup">
          <p class="bold">Adresse mail</p>
          <input required email #contactEmail="ngModel" type="mail" id="contactEmail" name="contactEmail" placeholder="monadresse@mail.com" ngModel>
          <span class="error_span" *ngIf="contactEmail.errors?.required && contactEmail.touched">
            L'adresse email est nécéssaire
          </span>
          <span class="error_span" *ngIf="contactEmail.errors?.email && contactEmail.touched">
            L'adresse email est invalide
          </span>
        </div>
        <div class="notifCheckbox">
          <p class="bold">Notifications</p>
          <input type="checkbox" id="notifiable" name="notifiable" ngModel>
        </div>
        <div class="validcancelbutton">
          <button class="pointer" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter le contact</button>
        </div>
      </form>
    </div>
  </div>
  <i (click)="closeSelf()" class="fa fa-times close pointer" aria-hidden="true"></i>
</div>

<div (click)="closeSelf()" *ngIf="certificat" class="shadow">

</div>
