.body-accueil {
  width: 90%;
  margin: auto;
  color: #105385;
}

.titleAccueil {
  color: #105385;
  font-size: 32px;
  font-weight: bold;
}

.search-div {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.search-right {
  width: 25%;
  text-align: right;
}

.search-right button {
  background-color: #89C4F1;
  cursor: pointer;
  color: #105385;
  border: none;
  padding: 8px;
}

.search-left {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D0E8F9;;
}

.search-div .fa{
  width: auto;
}

.list-search-bar {
  width:100%;
  color: #42A1E8;
  background-color: #D0E8F9;
  padding: 10px;
  border: none;
  font-size: 15px;
}

.buttonDiv {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.top-list-button {
  background-color: #FFFFFF;
  border: 2px solid #89C4F1;
  padding: 12px 16px;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  color: #105385;
}

.top-list-button-grey {
  opacity: 0.44;
  background-color: #FFFFFF;
  border: 2px solid #89C4F1;
  padding: 12px 16px;
  margin-right: 20px;
  font-size: 15px;
  cursor: not-allowed;
  color: #105385;
}

.table {
  width:100%;
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  font-size: 15px;
  margin-top: 20px;
}

.left-icon {
  width: 10%;
}

.right-icon {
  height: inherit;
  width: 5%;
  text-align: center;
}

.right-icon:hover{
  background-color: #B3D9F5;
  cursor: pointer;
}

.right-icon:hover .fa-ellipsis-v{
  color: black;
}

.right-icon:hover .fa-star{
  color: black;
}

.right-icon:hover .fa-eye{
  color: black;
}

.right-icon .fa-none {
  display: none;
}

.fa {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.list-item {
  width:35%;
}

.expDate{
  width:inherit;
}

.top-list {
  text-align: left;
  height: 30px;
  border-bottom: 1px solid #C1C1C1;
}

.list-content {
  line-height: 25%;
}

.list-content:hover {
  background-color: #D0E8F9;
}

.list-content:hover .right-icon .fa-none {
  display: inline;
}

tr:nth-child(even){
  background-color: #ECF5FC;
}

/* DROPDOWN */
.dropdown_table {
  position: relative;
}

.dropdown_table:hover .dropdown_table_content{
  display: block;
}

.dropdown_table_content {
  z-index: 1;
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 500%;
  height: 150%;
  background-color: #FFFFFF;
}

.dropdown_table_content div {
  text-align: left;
  line-height: 100%;
  border-color: #C1C1C1;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  display: flex;
  align-items: center;
}

.dropdown_table_content div:hover {
  background-color: #B3D9F5;
}

.dropdown_table_content div:first-child{
  height: 60%;
}

.dropdown_table_content div:last-child{
  height: 40%;
}

.dropdown_table_content:last-child {
  border-bottom: 1px solid #C1C1C1;
}

.dropdown_table_content div .fa {

}

.fa-trash {
  color:red;
}

.verify-suppr {
  border: 1px solid #707070;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 0px 30px 10px 30px;;
  width: 400px;
  height: 200px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 20%;
  margin: auto;
  z-index: 20;
}

.verify-suppr p{
  width: 80%;
  padding-top: 50px;
}

.close {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.validcancelbutton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
}

.validcancelbutton button {
  margin-left: 20px;
  background-color: #EA4B4B;
  border: none;
  padding: 0px 15px;
  font-size: 13px;
  cursor: pointer;
  color: #ffffff;
  height: 100%;
  font-size: 20px;
}

.validcancelbutton button .fa{
  color: #ffffff;
  margin-left: 0px;
}

.validcancelbutton input {
  background: none;
  border: none;
  color: #105385;
  font-size: 18px;
}

.shadow {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
}
