.body-accueil {
  width: 90%;
  margin: auto;
  color: #105385;
}

.titleAccueil {
  color: #105385;
  font-size: 32px;
  font-weight: bold;
}

.search-div {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.search-right {
  height: 100%;
  width: 25%;
  text-align: right;
}

.search-left {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D0E8F9;;
}

.search-div .fa{
  width: auto;
}

.list-search-bar {
  width:100%;
  color: #42A1E8;
  background-color: #D0E8F9;
  padding: 10px;
  border: none;
  font-size: 15px;
}

.buttonDiv {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.deleteButton:hover {
  color: red;
  border: 2px solid red;
}

.favButton:hover {
  border: 2px solid #105385;
}

.top-list-button {
  background-color: #FFFFFF;
  border: 2px solid #89C4F1;
  padding: 12px 16px;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  color: #105385;
}

.top-list-button-grey {
  opacity: 0.44;
  background-color: #FFFFFF;
  border: 2px solid #89C4F1;
  padding: 12px 16px;
  margin-right: 20px;
  font-size: 15px;
  cursor: not-allowed;
  color: #105385;
}

.table {
  position: relative;
  width:100%;
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  font-size: 15px;
  margin-top: 20px;
}

.left-icon {
  width: 10%;
}

.left-icon .fa {
  cursor: pointer;
}

.right-icon {
  height: inherit;
  width: 5%;
  text-align: center;
}

.right-icon:hover{
  background-color: #B3D9F5;
  cursor: pointer;
}

.right-icon:hover .fa-bell{
  color: black;
}

.right-icon:hover .fa-trash{
  color: red;
}

.right-icon:hover .fa-eye{
  color: black;
}

.right-icon .fa-none {
  display: none;
}

.fa {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.list-item {
  text-align: center;
  width:35%;
}

.divDates {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: max-content;
  margin: auto;
}

.divDates .fa {
  float: right;
}

.top-list {
  height: 30px;
  border-bottom: 1px solid #C1C1C1;
}

.list-content {
  line-height: 25%;
}

.list-content:hover {
  background-color: #D0E8F9;
}

.list-content:hover .right-icon .fa-none {
  display: inline;
}

tr:nth-child(even){
  background-color: #ECF5FC;
}

.sorting-th {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: min-content;
  margin:auto;
}

.sorting-th p {
  margin-right: 10px;
  white-space: nowrap;
}

.sorting-div {
  height: 30px;
  display: flex;
  flex-direction: column;
}

.sorting-div .fa {
  font-size: 25px;
  height: 10px;
}

.verify-suppr {
  border: 1px solid #707070;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 0px 30px 10px 30px;;
  width: 400px;
  height: 200px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 20%;
  margin: auto;
  z-index: 20;
}

.verify-suppr p{
  width: 80%;
  padding-top: 50px;
}

.close {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.validcancelbutton {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 40px;
}

.validcancelbutton button {
  margin-left: 20px;
  background-color: #EA4B4B;
  border: none;
  padding: 0px 15px;
  font-size: 13px;
  cursor: pointer;
  color: #ffffff;
  height: 100%;
  font-size: 20px;
}

.validcancelbutton button .fa{
  color: #ffffff;
  margin-left: 0px;
}

.validcancelbutton input {
  background: none;
  border: none;
  color: #105385;
  font-size: 18px;
}

.pageIndication {
  font-size: 16px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grey {
  color: #C1C1C1;
  cursor: not-allowed;
}

.chevron:hover {
  cursor: pointer;
  color: black;
}

.redIndicator {
  color: red;
}

.orangeIndicator {
  color: orange;
}

.greenIndicator {
  color: green;
}

.fa-sort-asc, .fa-sort-desc {
  color: #C1C1C1;
}

.selectedTri {
  color: #105385;
}

.shadow {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: 0.5;
}
