<div>
  <div>
    <table>
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">notBefore</th>
          <th scope="col">notAfter</th>
          <th scope="col">mails</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let certificat of certificats"
          [class.selected]="certificat === selectedCertificat"
          (click)="onSelect(certificat)">
          <td>{{ certificat.id }}</td>
          <td>{{ certificat.notBefore }}</td>
          <td>{{ certificat.notAfter }}</td>
          <td>{{ certificat.mails }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-certificat-detail [certificat]="selectedCertificat"></app-certificat-detail>
