<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Objet</th>
      <th scope="col">Autorité de certification</th>
      <th scope="col">Date d'expiration</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificat of certificats; let j = index"
      [class.selected]="certificat === selectedCertificat"
      routerLink="../detail/{{certificat.id}}">
      <th scope="row"></th>
      <td>{{certificat.dn.cn}}</td>
      <td></td>
      <td>
        <p>{{getDate(certificat.notAfter)}}</p>
        <p>{{getRemTime(certificat)}}</p>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
